  /**
   * --------------------------------------------------------------------------
   * Showcase CSS
   * --------------------------------------------------------------------------
   */

   .showcase, .cart{
      /* height: 24rem;
       width: 26rem; */
   }
   .product{
        border-radius: 0.5em;
        border-style: outset;
        border: 1px solid #d3d3d3;

        background-color: #fff;
        display: inline-block;
        width: 2em;
        height: 2em;
        font-size: 1em;

        text-align: center;
        vertical-align: middle;
   }